.shell {
  position: relative;
  min-height: 75vh;
  overflow: hidden;
  background: #07081c;
  isolation: isolate;
  border: none;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 5px 10px 8px #272727;
}

.contentlayer {
  position: relative; 
  width: 100%;
  height: auto;       
  padding: 40px;      
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* margin-bottom: 50px; */
}

.blob {
  position: absolute;
  border-radius: 50%;
  filter: blur(90px);
  pointer-events: none;
  z-index: -1;
}

.blob1 {
  width: 220px;
  height: 220px;
  top: -100px;
  left: 5%;

  background: #fd4f8c;
}

.blob2 {
  width: 160px;
  height: 160px;
  top: 35%;
  right: -80px;

  background: #ee8eaf;
}

.blob3 {
  width: 180px;
  height: 180px;
  bottom: -100px;
  left: 35%;

  background: #ff3d81;
}
