.now {
  display: flex;
  margin: 1.75rem;
  gap: 2rem;
  margin-top: 2.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.sectionLabel {
  padding-right: 1.25rem;
  writing-mode: vertical-lr;
  transform: none;
  text-align: left;
  display: block;
  align-self: flex-start;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 2px;
}

.heading {
  color: var(--accent);
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: clamp(1.5rem, 4vw, 2.25rem);
  padding: 1.5rem 0;
}

.progress {
  display: flex;
  align-items: baseline;
  gap: 0.8rem;
  font-family: "Sora";
  font-size: medium;
  margin-bottom: 1.5rem;
  letter-spacing: 2px;
  /* width: 90%; */
}

.circle {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: var(--accent);
}

.title {
  padding-left: 1.25rem;
  font-family: "Crimson Text";
  font-weight: 600;
  font-size: clamp(1.125rem, 2.5vw, 1.5rem);
}

.description {
  text-align: left;
  padding: 1.25rem;
  font-family: "Crimson Text";
}

.entry {
  margin-top: 1rem;
  display: flex;
  gap: 50px;
  margin-right: 2rem;
  height: 21vh;
  align-items: center;
  border-top: 1px solid #c2c1c1;
}

.entryDate {
  width: 28vh;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 2px;
}

.entryText {
  text-align: left;
  font-family: "Crimson Text";
}
.more {
  width: fit-content;
  align-self: center;
  background: none;
  border: none;
  border-bottom: 1px solid #8b8b8b;
  color: #9b9b9b;
  font-family: "Crimson Text";
}
