.main {
  display: flex;
  gap: 2rem;
  margin-top: 2.5rem;
}
.sectionLabel {
  padding-left: 1.25rem;
  writing-mode: vertical-lr;
  transform: none;
  text-align: left;
  display: block;
  align-self: flex-start;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 2px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.tag {
  color: var(--accent);
  font-family: "Roboto Mono", monospace;
  font-size: clamp(1.125rem, 2.5vw, 1.5rem);
  font-weight: 500;
}

.title {
  font-family: "Crimson Text";
  font-size:clamp(1.75rem, 5vw, 3rem) ;
}

.description {
  text-align: left;
  font-family: "Crimson Text";
  font-size: clamp(1rem, 2vw, 1.25rem);
  padding: 1.25rem 0;
}

.stats {
  display: flex;
  gap: clamp(0.875rem, 1.5vw, 1rem);
  margin: 0.6rem 0;
  padding: clamp(0.5rem, 1.5vw, 1rem) clamp(1rem, 3vw, 2rem);
}

.value {
  color: var(--accent);
  font-family: "Roboto Mono", monospace;
  font-size: clamp(0.875rem, 1.5vw, 1rem);
}

.label {
  font-family: "Crimson Text";
  font-size: clamp(0.875rem, 1.5vw, 1rem);
}

.stacks {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 1.25rem 0;
}

.stack {
    border: 1px solid var(--accent);
    padding: 0.3rem 1.25rem;
    border-radius: 1.25rem;
    font-family: "Crimson Text";
    font-size: clamp(0.875rem, 1.5vw, 1rem);
}

.screenshotContainer {
  position: relative;
  width: 100%; 
  height: 55vh; 
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 14vh 0;
  padding-left: 28vh;
}

.card {
  position: absolute;
  margin: 0.5rem 0;
  width: 41vh;
  height: 68vh;
  padding: 0.7rem;

  z-index: var(--z);

 transform: translateX(calc(var(--i) * 27vh))
           translateY(calc(abs(var(--i)) * 1rem))
           scale(calc(1 - (abs(var(--i)) * 0.08)));

  transition: transform 0.3s ease;
}

.card p {
    font-family: "Crimson Text";
    font-size: (0.875rem, 1.5vw, 1rem);
    padding: 0.4rem;
}


.screenshot {
  width: 100%;
  height: 92%;
  object-fit: cover; 
  border-radius: inherit;
}

.card:hover {
  transform: translateX(calc(var(--i) * 17vh))
             translateY(calc(abs(var(--i)) * 1rem - 0.6rem))
             scale(1.05);
  z-index: 999;
}

